$color-white: #fff;
$color-black: #000;

$color-ff5700: #ff5700;
$color-00b500: #00b500;
$color-ffdb4d: #ffdb4d;
$color-393938: #393938;
$color-67b500: #67b500;
$color-443e36: #443e36;
$color-7cc738: #7cc738;
$color-2c3337: #2c3337;
